li {
    background: white;
}

h1 {
    font-size: 50px;
    font-family: 'Noto Serif SC', serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 20px;
    font-weight: 200;
}

.home {
    position: absolute;
    left: 10%;
    padding: 20px;
}

.projects {
    position: relative;
    left: 20%;
    padding: 20px;
}

.resume {
    position: relative;
    left: 30%;
    padding: 20px;
}

.resources {
    position: relative;
    left: 40%;
    padding: 20px;
}

.menu-text {
   background-color: white; 
}

.header {
  text-align: center;
    position: relative;
    top:35px;
  padding-bottom: 35px;
}

.subtitle {
    padding-top: 10px;
    font-size: 35px;
    line-height: 0.25em;
    position: relative;
    right: 65px;
}

.pfp {
    height: 275px;
    width: 275px;
    padding: 10px;
    border-radius: 100%;
    display:block;
    margin:auto;
}

.blurb {
    display:block;
    margin:auto;
    position: relative;
    top: 10px;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.17em;
  background-position: 0% 97%;
  transition: background-size 0.25s ease-in;
  }

.underline--magical:hover {
    background-size: 100% 88%;
}

.highlight {
  background-image: linear-gradient(120deg, #c6ffdb 0%, #d6f1ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 88%;
  background-position: 0% 97%;
  }

.underline {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0% 103%;
  font-weight: 400;
}

.define {
    font-style: oblique;
}

.blurb-link, blurb-link:visited {
    color: black;
}

.blurb-link: hover {
    color: lightgray;
}
